[submodule "bin/antigen"]
	path = bin/antigen
	url = https://github.com/zsh-users/antigen.git
[submodule "bin/dotbot"]
	path = bin/dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "vim/bundle/Vundle.vim"]
	path = vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
[submodule "nvim/autoload/vim-plug"]
	path = nvim/autoload/vim-plug
	url = https://github.com/junegunn/vim-plug
